.vscode/
Project 2 Ensemble Learner/ref/in/mnist_X_train.pkl
Project 2 Ensemble Learner/model2.pkl
Project 2 Ensemble Learner/project_2_calv.zip
Project 3 Low-Parameter CNN/ref/in/project3trainset.pkl
